lab-3/furniture.dtd

<?xml version="1.0"?>
<!DOCTYPE FurnitureNest [
<!ELEMENT details(f_id,f_type,f_woodtype,f_description,f_color,f_price)>
<!ELEMENT f_id(#PCDATA)>
<!ELEMENT f_type(#PCDATA)>
<!ELEMENT f_woodtype(#PCDATA)>
<!ELEMENT f_description(#PCDATA)>
<!ELEMENT f_color(#PCDATA)>
<!ELEMENT f_price(#PCDATA)>
]>
